footer {
    background-color: black;
    padding: 0.938rem 1.25rem;
    
    .p-text {
      color: white;
      padding-left: 1.875rem;
      font-weight: 700;
    }

    ul {
      li {
        list-style-type: none;
        color: grey;
      } 
    }
}