footer {
    background-color: black;
    padding: 3rem 1.25rem;
    
    .box-foot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .boxfot1 {
       
        .p-text {
          color: white;
          padding-left: 1.875rem;
          font-weight: 700;
        }

        ul {
          li {
            list-style-type: none;
            color: grey;
          } 
        }
      }
  
      .boxfot2 {
         
        .p-text2 {
          color: white;
          font-weight: 700;
          padding-left: 1.875rem;
        }
      
        ul {
          li {
            list-style-type: none;
            color: grey;
          } 
        }
      }
    }
}